<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        All blogs | <%= title %>
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        * {
            box-sizing: border-box;
        }

        html {
            margin: 0;
            padding: 0;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: 'Roboto', sans-serif;
            background: #DDE6ED;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .navbar{
            display: flex;
            align-items: center;
            height: 4rem;
            width: 100%;
            top: 0;
            margin: 0 auto;
            background: #003566;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        }

        .nav-left {
            margin: auto auto auto 4.5rem;
        }

        .nav-title-link{
            text-decoration: none;
            color: #edf2f4;
        }

        .nav-title-text{
            font-size: 1.7em;
        }

        .nav-right {
            margin: auto 4.5rem auto auto;
        }

        .nav-links{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
        }

        .nav-link-item{
            margin: 0.5rem;
        }

        .nav-link{
            text-decoration: none;
            color: #edf2f4;
        }

        .content{
            min-height: 100vh;
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            height: 7em;
            width: 100%;
            padding: 0 1.5rem 0 1.5rem;
            margin-top: auto;
            z-index: 1000;
            color: #ffffff;
            background: #1B2430;
        }
    </style>
</head>