<!DOCTYPE html>
<html lang="en">
<!-- Head tag replaced with the ejs template -->
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content"></div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>